-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %p 表示： コンテンツ一覧
%div#toolbox_spacer_bottom
%div#maincontents
  - if @isadmin
    %form.smartadd{:name => 'create_content', :action => '/ybz/content/create', :method => "POST"}
      %table#contentcreate
        %tr.content_item
          %td.td_line_head
            %div.header_status
          %td.content_name{:style => "padding-left: 0em;"}
            名称: 
            %input.smartinput{:type => 'text', :size => 16, :name => 'name'}
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.content_code{:style => "padding-right: 0.5em;"}
            コード: 
            %input.smartinput{:type => 'text', :size => 4, :name => 'code'}
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.td_base
            課金:
            %select{:name => "charging"}
              - Yabitz::Model::Content::CHARGING_LABELS.each do |c|
                %option{:value => c}&= Yabitz::Model::Content.charging_title(c)
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.td_base
            部署:
            %select{:name => "dept"}
              - Yabitz::Model::Dept.all.sort.each do |d|
                %option{:value => d.oid}&= d.to_s
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.td_base
            %input{:type => 'image', :height => 24, :width => 24, :src => '/images/adding.png'}
          %td.td_line_term
            %img{:src => "/images/1x1.gif"}
  %table#contentlist
    = partial :content, :collection => @contents
