-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %div 表示： 連絡先メンバ一覧
  - if @isadmin
    %div
      選択：
      %button#select_on_all すべて選択
      %button#select_off_all 選択をクリア
      %div
        選択したメンバへの操作: 
        %select.admin_operations#contactmember_operation_list
          %option{:value => 'nonedefault'} 操作を選択してください
          %option{:value => 'none', :disabled => true} -- 情報の更新 --
          %option{:value => 'remove_data' } 退職者なので削除
          - if Yabitz::Model::ContactMember.has_member_source
            %option{:value => 'update_from_source' } 連携先と同期して情報を更新
          %option{:value => 'combine_each' } 重複エントリの統合
%div#toolbox_spacer_bottom
%div#maincontents
  %table#contactmemberlist
    = partial :contactmember, :collection => @contactmembers
