-# -*- coding: utf-8 -*-
%tr.contactmember_item.selectable{:id => contactmember.oid, :title => h(contactmember.name)}
  %td.td_line_head
    %div.header_status
  %td.contactmember_name
    &= contactmember.name
    %img{:src => "/images/1x1.gif"}
  %td.td_padding
    %img{:src => "/images/1x1.gif"}
  %td.contactmember_additional
    &= ((contactmember.badge.nil? or contactmember.badge.empty?) ? "-" : contactmember.badge) + "/" + ((contactmember.position.nil? or contactmember.position.empty?) ? "-" : contactmember.position)
    %img{:src => "/images/1x1.gif"}
  %td.td_padding
    %img{:src => "/images/1x1.gif"}
  %td.contactmember_telno
    &= contactmember.telno
    %img{:src => "/images/1x1.gif"}
  %td.td_padding_narrow
    %img{:src => "/images/1x1.gif"}
  %td.contactmember_mail
    &= contactmember.mail
    %img{:src => "/images/1x1.gif"}
  %td.td_padding_narrow
    %img{:src => "/images/1x1.gif"}
  %td.td_base{:style => "font-size: 75%; font-weight: bold;"}
    - if contactmember.comment.nil? or contactmember.comment.empty?
      %img{:src => "/images/1x1.gif"}
    - else
      [メモあり]
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
