-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %h3
    &= cond
  %div{:style => "margin-left: 2em;"}
    %img{:src => "/images/1x1.gif"}
%div#toolbox_spacer_bottom
%div#maincontents
  %div.mainviewboxouter
    %div.mainviewbox
      %div.fieldvalue
        %span.field 部署名:
        %span.value&= @dept.name
      %div.fieldinline 所属コンテンツ:
      %ul.valueslist
        - Yabitz::Model::Content.query(:dept => @dept).each do |cont|
          %li.valueitem
            %a{:href => "/ybz/content/#{cont.oid}"}&= cont.to_s
