-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %p 表示： 部署一覧
%div#toolbox_spacer_bottom
%div#maincontents
  - if @isadmin
    %form.smartadd{:name => 'create_dept', :action => '/ybz/dept/create', :method => "POST"}
      %table#deptcreate
        %tr.dept_item
          %td.td_line_head
            %div{:style => "padding-top: 3em; padding-left: 0; padding-right: 0;"}
          %td.dept_name{:style => "padding-left: 1em;"}
            名称: 
            %input.smartinput{:type => 'text', :size => 16, :name => 'name'}
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.td_base{:style => "align: right;"}
            %input{:type => 'image', :height => 24, :width => 24, :src => '/images/adding.png'}
          %td.td_line_term
            %img{:src => "/images/1x1.gif"}
  %table#deptlist
    = partial :dept, :collection => @depts
