-# coding: utf-8

%tr.dept_item.selectable{:id => "#{dept.oid}", :title => h(dept.name)}
  %td.td_line_head
    %div{:style => "padding-top: 3em; padding-left: 0; padding-right: 0;"}
  %td.dept_name
    &= dept.name
    %img{:src => "/images/1x1.gif"}
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
