-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %h3 ホスト変更履歴
  %div.hidden
    %input{:type => "text", :name => "oidlist", :value => @oidlist}
  %div
    %button#hosts_diff 選択した範囲の差分を表示
%div#toolbox_spacer_bottom
%div#maincontents
  %form.inline
    %table#hostlist
      %tr.host_full
        %td.td_line_head{:style => "background-color: #ccffcc;"}
          %img{:src => "/images/1x1.gif"}
        %td.host_selector{:style => "margin: 2px; padding: 0px; font-size: 20px; background-color: #ccffcc;"}
          %img{:src => "/images/1x1.gif"}
        %td.host_selector{:style => "margin: 2px; padding: 0px; font-size: 20px; background-color: #ccffcc;"}
          %img{:src => "/images/1x1.gif"}
        %td.td_base_narrow{:style => "font-size: 80%; text-align: center; background-color: #ccffcc;"}
          変更日時
          %br
          ユーザ
        %td.td_padding_ex{:style => "background-color: #ccffcc;"}
          %img{:src => "/images/1x1.gif"}
        %td.td_base_narrow{:style => "background-color: #ccffcc;"} 状態/サービス/注意対象
        %td.td_padding_ex{:style => "background-color: #ccffcc;"}
          %img{:src => "/images/1x1.gif"}
        %td.td_base_narrow{:style => "background-color: #ccffcc;"} HWID/ラック
        %td.td_padding_ex{:style => "background-color: #ccffcc;"}
          %img{:src => "/images/1x1.gif"}
        %td.td_base_narrow{:style => "background-color: #ccffcc;"} OS/cpu/memory/disk
        %td.td_padding_ex{:style => "background-color: #ccffcc;"}
          %img{:src => "/images/1x1.gif"}
        %td.td_base_narrow{:style => "background-color: #ccffcc;"} タイプ/親子
        %td.td_padding_ex{:style => "background-color: #ccffcc;"}
          %img{:src => "/images/1x1.gif"}
        %td.td_base_narrow{:style => "background-color: #ccffcc;"} DNS名
        %td.td_padding_ex{:style => "background-color: #ccffcc;"}
          %img{:src => "/images/1x1.gif"}
        %td.td_base_narrow{:style => "background-color: #ccffcc;"} IPアドレス
        %td.td_line_term{:style => "background-color: #ccffcc;"}
          %img{:src => "/images/1x1.gif"}
      = partial :host_full, :collection => @host_records
