-# -*- coding: utf-8 -*-

- basis = to ? to : from
- if from and to and from.id == to.id
  = haml :host_diff_part_same, :locals => {:oid => basis.oid, :from => from, :to => to}
- elsif from and to and not from.removed and to.removed
  = haml :host_diff_part_removed, :locals => {:oid => basis.oid, :from => from, :to => to}
- elsif from and to and from.id != to.id
  = haml :host_diff_part_changed, :locals => {:oid => basis.oid, :from => from, :to => to}
- elsif not from and to
  = haml :host_diff_part_created, :locals => {:oid => basis.oid, :to => to}
- else
  - raise RuntimeError, "oidが指定されているが force_all で何も取得できていないケース"
