-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %h3 ホスト変更差分
  %div 期間: #{@first_timestamp} から #{@last_timestamp}
  %div
    %a{:href => '/ybz/host/' + @host_record_pairs.map{|pair| pair.first.oid.to_s}.join('-')} 対象ホストの現在の状態一覧
%div#toolbox_spacer_bottom
%div#maincontents
  %table#hostlist
    - @host_record_pairs.each do |to, from|
      - next if to.nil?
      = haml :host_diff_part, :locals => {:to => to, :from => from}
