-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %p 表示： ハードウェア情報一覧
%div#toolbox_spacer_bottom
%div#maincontents
  - if @isadmin
    %table#hwinfocreate
      %form.smartadd{:name => 'create_hwinfo', :action => '/ybz/hwinfo/create', :method => "POST"}
        %tr.hwinfo_item
          %td.td_line_head
            %div.header_status
          %td.hwinfo_name{:style => "padding-left: 1em;"}
            機種名: 
            %input.smartinput{:type => 'text', :size => 16, :name => 'name'}
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.hwinfo_units{:style => "padding-right: 0.5em;"}
            ユニット数: 
            %input.smartinput{:type => 'text', :size => 6, :name => 'units'}
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.hwinfo_units{:style => "padding-right: 0.5em;"}
            算出U数:
            %input.smartinput{:type => 'text', :size => 4, :name => 'calcunits'}
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.td_selector
            仮想化:
            %input{:type => 'checkbox', :name => 'virtualized', :value => false}
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.td_base
            %input{:type => 'image', :height => 24, :width => 24, :src => '/images/adding.png'}
          %td.td_line_term
            %img{:src => "/images/1x1.gif"}
  %table#hwinfolist
    = partial :hwinfo, :collection => @hwinfos
