-# coding: utf-8

%div#detailbox
  %h3
    &= @hwinfo.nil? ? "未指定" : @hwinfo.name
  %div.fieldvalue{:style => "margin-bottom: 0.5em;"}
  - @all_services.sort.each do |service|
    - if @service_count_map[service.oid]
      %div.fieldvalue
        %span.field
          %a{:href => "/ybz/hosts/service/#{service.oid}"}&= service.name
        %span.value&= @service_count_map[service.oid]
