-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %h3 操作タグ表示
  %div 該当タグ: #{@opetag}
  %div
    %a{:href => '/ybz/host/' + @host_record_pairs.map{|pair| pair.first.oid.to_s}.join('-')} 対象ホストの現在の状態一覧
  %div
    %a{:href => "/ybz/operations"} 最近の操作タグ一覧
  %div
    %div 範囲日時指定
    %div{:style => "padding-left: 2em;"}
      - startdate_val = (@start_date ? h(@start_date) : "")
      - enddate_val = (@end_date ? h(@end_date) : "")
      先頭(yyyymmdd)
      %input.simple{:type => "text", :name => "start_date", :value => h(startdate_val)}
      %br
      末尾(yyyymmdd)
      %input.simple{:type => "text", :name => "end_date", :value => h(enddate_val)}
      %br
      %button{:id => "opetaglist", :style => "width: 15em;"} 操作タグを範囲検索
%div#toolbox_spacer_bottom
%div#maincontents
  %table#hostlist
    - @host_record_pairs.each do |to, from|
      = haml :host_diff_part, :locals => {:to => to, :from => from}
