-# coding: utf-8

%tr.osinfo_item{:id => "#{osinfo.oid}"}
  %td.osinfo_head
    %div.header_status
  %td.osinfo_name&= osinfo.name
  %td.td_padding
    %img{:src => "/images/1x1.gif"}
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
