-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %h3
    サービス変更差分:
    &= @service.name
  - if @host_record_pairs
    %div 期間: #{@first_timestamp} から #{@last_timestamp}
    %div
      %a{:href => '/ybz/hosts/service/' + @service.oid.to_s} 対象サービスのホストの現在の状態一覧
  %form{:name => 'service_diff_input', :action => '/ybz/service/diff/' + @service.oid.to_s, :method => 'GET'}
    %table
      %tr
        %td
          - if @first_timestamp
            %input.simple{:type => 'text', :size => 13, :name => 'from', :value => @first_timestamp[0,10]}
          - else
            %input.simple{:type => 'text', :size => 13, :name => 'from'}
        %td (yyyy-mm-dd)から
      %tr
        %td
          - if @last_timestamp
            %input.simple{:type => 'text', :size => 13, :name => 'to', :value => @last_timestamp[0,10]}
          - else
            %input.simple{:type => 'text', :size => 13, :name => 'to'}
        %td (yyyy-mm-dd)まで
      %tr
        %td
          %input{:type => 'submit', :value => '表示'}
%div#toolbox_spacer_bottom
%div#maincontents
  - if @host_record_pairs
    %table#hostlist
      - @host_record_pairs.each do |to, from|
        = haml :host_diff_part, :locals => {:to => to, :from => from}
